@page "/r_prestamos"

@inject IToastService toast

<EditForm Model="Prestamo" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />

    <div class="row d-flex justify-content-center">

        <div class="col-md-10 col-sm-11 col-11">

            <div class="card mt-1">

                <div class="card-header">
                    <h3>Registro de préstamos</h3>
                </div>

                <div class="card-body">
                    <form>
                        @*PrestamoID*@
                        <div class="input-group my-2">
                            <label class="input-group-text col-md-3 col-4">ID</label>
                            <InputNumber class="form-control" @bind-Value="Prestamo.PrestamoID" />
                            <button class="btn btn-warning" type="button" @onclick="Buscar">
                                <i class="oi oi-magnifying-glass mr-2" />Buscar
                            </button>
                        </div>

                        @*Fecha*@
                        <div class="input-group my-2">
                            <label class="input-group-text col-md-3 col-4">Fecha</label>
                            <InputDate class="form-control" @bind-Value="Prestamo.Fecha" />
                        </div>
                        <ValidationMessage For="@(()=> Prestamo.Fecha)" />

                        @*Persona*@
                        <div class="input-group my-2">
                            <label class="input-group-text col-md-3 col-4">Persona</label>
                            <InputSelect class="form-control" @bind-Value="Prestamo.PersonaID">
                                @foreach (var persona in Personas)
                                {
                                    <option value="@persona.PersonaID">@persona.Apellidos, @persona.Nombres</option>
                                }
                            </InputSelect>
                        </div>
                        <ValidationMessage For="@(()=> Prestamo.PersonaID)" />

                        @*Concepto*@
                        <div class="input-group my-2">
                            <label class="input-group-text col-md-3 col-4">Concepto</label>
                            <InputText class="form-control" @bind-Value="Prestamo.Concepto" />
                        </div>
                        <ValidationMessage For="@(()=> Prestamo.Concepto)" />

                        @*Monto*@
                        <div class="input-group my-2">
                            <label class="input-group-text col-md-3 col-4">Monto</label>
                            <InputNumber class="form-control" @bind-Value="Prestamo.Monto" />
                        </div>
                        <ValidationMessage For="@(()=> Prestamo.Monto)" />

                        @*Balance*@
                        <div class="input-group my-2">
                            <label class="input-group-text col-md-3 col-4">Balance</label>
                            <InputNumber class="form-control" @bind-Value="Prestamo.Balance" readonly />
                        </div>
                        <ValidationMessage For="@(()=> Prestamo.Balance)" />

                        @*Mora*@
                        <div class="input-group my-2">
                            <label class="input-group-text col-md-3 col-4">Mora</label>
                            <InputNumber class="form-control" @bind-Value="Prestamo.Mora" readonly />
                        </div>
                        <ValidationMessage For="@(()=> Prestamo.Mora)" />


                    </form>
                </div>

                <div class="card-footer">

                    @*Botones*@
                    <div class="container">

                        <div class="row justify-content-center">
                            <button class="btn btn-primary mx-2 my-2 col-3" type="button" @onclick="Nuevo">
                                <i class="oi oi-file mr-2" />Nuevo
                            </button>

                            <button class="btn btn-success mx-2 my-2 col-3 mx-2">
                                <i class="oi oi-account-login mr-2" style="transform:rotate(90deg)" />Guardar
                            </button>

                            <button class="btn btn-danger mx-2 my-2 col-3" type="button" @onclick="Eliminar">
                                <i class="oi oi-trash mr-2" />Eliminar
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</EditForm>

@code {
    private Prestamos Prestamo = new Prestamos();
    public List<Personas> Personas { get; set; }

    protected override void OnInitialized()
    {
        Personas = PersonasBLL.GetList(p => true);
    }

    public void Nuevo()
    {
        Prestamo = new Prestamos();
    }

    private void Buscar()
    {
        var encontrado = PrestamosBLL.Buscar(Prestamo.PrestamoID);

        if (encontrado != null)
            this.Prestamo = encontrado;
        else
            toast.ShowWarning("Préstamo no encontrado");
    }

    public void Guardar()
    {
        bool guardado = PrestamosBLL.Guardar(Prestamo);

        if (guardado)
        {
            Nuevo();
            toast.ShowSuccess("Prestamo guardado correctamente");
        }
        else
            toast.ShowError("No se pudo guardar el Préstamo");
    }

    public void Eliminar()
    {
        bool eliminado = PrestamosBLL.Eliminar(Prestamo.PrestamoID);

        if (eliminado)
        {
            Nuevo();
            toast.ShowSuccess("Préstamo eliminado correctamente");
        }
        else
            toast.ShowError("No se pudo eliminar el Préstamo");
    }
}
