@page "/c_personas"


<div class="row d-flex justify-content-center">

    <div class="col-11">

        <div class="card mt-1">

            <div class="card-header">
                <h3>Consulta de personas</h3>
            </div>

            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="input-group my-2 mr-2 col-3">
                            <label class="input-group-text">Filtrar por fecha</label>
                            <div class="input-group-text">
                                <input class="form-check-input m-0" type="checkbox" value="" id="dateCheckBox" @bind="@FiltrarFecha">
                            </div>
                        </div>

                        <div class="input-group my-2 col">
                            <label class="input-group-text">Desde</label>
                            <input class="form-control" type="date" @bind="FechaDesde" />
                            <label class="input-group-text">Hasta</label>
                            <input class="form-control" type="date" @bind="FechaHasta" />
                        </div>
                    </div>

                    <div class="input-group my-2">
                        <select class="form-control col-3" @bind="Filtro" style="width:150px;">
                            <option value="0">Filtro</option>
                            <option value="1">Nombres</option>
                            <option value="2">Apellidos</option>
                            <option value="3">Cédula</option>
                            <option value="4">Dirección</option>
                        </select>
                        <input type="text" class="form-control" @bind="Criterio" placeholder="Criterio" />
                        <button class="btn btn-primary" type="button" @onclick="Buscar">Buscar</button>
                    </div>

                    <table class="table mt-4">
                        <thead>
                            <tr>
                                <th>Persona ID</th>
                                <th>Nombres</th>
                                <th>Apellidos</th>
                                <th>Fecha de nacimiento</th>
                                <th>Cédula</th>
                                <th>Dirección</th>
                                <th>Balance</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Personas)
                            {
                                <tr>
                                    <th>@item.PersonaID</th>
                                    <td>@item.Nombres</td>
                                    <td>@item.Apellidos</td>
                                    <td>@item.FechaNacimiento.ToString("dd-MM-yyyy")</td>
                                    <td>@item.Cedula</td>
                                    <td>@item.Direccion</td>
                                    <td>@item.Balance</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </form>

            </div>
        </div>
    </div>
</div>


@code {
    public List<Personas> Personas { get; set; }
    public string Filtro { get; set; }
    public string Criterio { get; set; }
    public DateTime FechaDesde { get; set; } = DateTime.Now;
    public DateTime FechaHasta { get; set; } = DateTime.Now;
    public bool FiltrarFecha { get; set; }

    protected override void OnInitialized()
    {
        Nuevo();
    }

    private void Nuevo()
    {
        Personas = new List<Personas>();
        Filtro = "0";
        Criterio = string.Empty;
    }

    private void Buscar()
    {
        Personas = new List<Personas>();

        SetearFechas();

        if (Criterio.Length > 0)
        {
            switch(Filtro)
            {
                case "0":
                    Personas = PersonasBLL.GetList(p => true);
                    break;
                case "1":
                    Personas = PersonasBLL.GetList(p => p.Nombres.ToLower().Contains(Criterio.ToLower()));
                    break;
                case "2":
                    Personas = PersonasBLL.GetList(p => p.Apellidos.ToLower().Contains(Criterio.ToLower()));
                    break;
                case "3":
                    Personas = PersonasBLL.GetList(p => p.Cedula.ToLower().Contains(Criterio.ToLower()));
                    break;
                case "4":
                    Personas = PersonasBLL.GetList(p => p.Direccion.ToLower().Contains(Criterio.ToLower()));
                    break;
            }
        }
        else
        {
            Personas = PersonasBLL.GetList(p => true);
        }

        if (FiltrarFecha)
            Personas = Personas.Where(p => p.FechaNacimiento >= FechaDesde && p.FechaNacimiento <= FechaHasta).ToList();
    }

    private void SetearFechas()
    {
        FechaDesde = new DateTime(FechaDesde.Year, FechaDesde.Month, FechaDesde.Day, 0, 0, 0);
        FechaHasta = new DateTime(FechaHasta.Year, FechaHasta.Month, FechaHasta.Day, 23, 59, 59);
    }
}
